name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure
        run: |
          cmake -S modelstore -B build/modelstore
          cmake -S . -B build
      - name: Build
        run: |
          cmake --build build/modelstore --config Release
          cmake --build build --config Release
      - name: Test
        run: ctest --test-dir build/modelstore --output-on-failure
